*.xcuserstate
*.xc*
*.pbxproj
*.out
*.o
*.mod
*.smod
*.xdmf
.#*
*.jpg
*.pdf
*.png
*.svg
*.swp
*.dat
*~
sauve*
incompact3d
xcompact3d
data/
out/
stats/
planes/
post/
.DS_Store
TAGS
lint.txt
\#*\#
*.log
docs/_build/
build*
Test*
test*
.cproject
.project
.settings
*.bp4
*.hdf5
*.dat
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.sub
configure
install-sh
ltmain.sh
m4/
missing
depcomp
test-driver
